{% extends "base_generic.html" %}

{% block content %}
    <h2>Posts</h2>
    {% for post in post_list %}
        <div class="post">
            <h4>Thread: {{post.thread}}</h4>
            <p>Body: {{post.body}}</p>
            <p>Posted on: {{post.created_on}}</p>
            {% if user.is_authenticated %}
                <p><a href="{% url 'edit_post' post.thread.id post.id %}">Edit</a></p>

                

                <form action="{% url 'delete_post' post.thread.id post.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
                
            {% endif %}
            <p>--------------------</p>
        </div>
    {% endfor %}
{% endblock %}